ul {list-style: none}
li::before {content: "•"; color: white}

a:link {
	text-decoration: none;     /*tirar linha sublinhada do link */
	color: #444;
}

#top {
	background-color: #f3f3f3;
}

#cv {	 
	min-width: 1140px; 
	min-height: 1479px;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	margin-left: 170px;
	
}

img    {
    border-radius: 50%;
}

#name {
	float: left;
	font-family: 'Rokkitt', sans-serif;
	font-size: 30px;
	font-weight: 500;
	margin-top: 25px;
}

h1#teste, div.sectionTitle h3 {
	font-weight: 100;
}

div.sectionTitle {
	text-align: left;
	font-weight: 100;
}

div#name h1 {
	margin: 0;
}

div#name h2 {
	text-align: left;
	margin: 0;
}

h2 {
	font-family: 'Rokkitt', sans-serif;	
	font-weight: 400;
	font-size: 40px;
	color: #181818;
	margin-left: 100px;
}

p {
	font-family: 'Arial', sans-serif;
	color: #444444;
	font-size: 22px;
	margin-left: 100px;
}

#contactDetails {
	float: right;
	font-family: 'Arial', sans-serif;
	color:#444444;
	margin-top: 20px;
	margin-right: 200px;
	margin-bottom: 40px;
	font-size: 20px;
}

.sectionTitle {
	float: left;
	width: 25%;
	margin-left: 25px;
}

.sectionContent {
	float: right;
	width: 72.5%;
	margin-top: -95px;
}

.subDetails {
	color: #444444;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-top: -40px;
}

.sectionTitle {
	color: #cf8a05;
	font-weight: 100;
	font-size: 30px;
	font-family: 'Rokkitt', sans-serif;
	font-style: italic;
	margin-left: 150px;
}

#linha {
	border: 0;
	border-top: 3px solid #cf8a05;
	max-width: 1100px;
}

hr {
	border: 0;
	border-top: 1px solid #dedede;
}

.keySkills {
	font-family: 'Arial', sans-serif;
	color: #444444;
	font-size: 22px;
	text-align: center;
	float: left;
}

.keySkills li {
	float: left;
	width: 33%;
}